#home {
  color: black;
}

#attrezzatura {
  color: #8E8E93;
}

#attrezzatura:hover {
  color: black;
}

body div.ContainerForm {
  height: 284px;
  width: 454px;
}

h1 {
    text-align: center;
}

p#outcard {
  font-family: 'Inter', sans-serif;
  font-size: 16px;
  font-weight: 400;
  margin-top: 70px;
  text-align: center;
}

.Card {
  margin-top: 70px;
}