body div.ContainerForm {
    padding: 30px 30px;
    width: max-content;
    height: max-content;
    margin-inline: auto;
  }
  
  textarea#procedimento {
    height: 200px;
  }
  
  .HStack {
    justify-content: flex-end;
    margin-top: 25px;
  }
  
  input.send {
    margin: auto 0;
  }