/* Gestione del modale (background) */
.modal {
	display: none; /* Hidden by default */
	position: fixed; /* Stay in place */
	z-index: 1; /* Sit on top */
	width: 100%; /* Full width */
	height: 100%; /* Full height */
	overflow: auto; /* Enable scroll if needed */
	background-color: rgb(0,0,0); /* Fallback color */
	background-color: rgba(0, 0, 0, 0.75); /* Black w/ opacity */
  }
  
  .VStack {
	display: flex;
	flex-direction: column;
	justify-content: center;
	justify-items: center;
	width: 418px;
  }

  .HStackBetween {
	display: flex;
	flex-direction: row;
	align-content: center;
	align-items: center;
	justify-content: space-between;
	width: 416px;
  }

  .HStackStart {
	display: flex;
	flex-direction: row;
	align-content: center;
	align-items: center;
	justify-content: start;
	gap: 8px;
	margin-top: 15px;
	width: 480px;
  }

  /* corpo modal view */
  #contentModal.VStack {
	background: white;
	padding: 22px 32px 26.5px 32px;
	border-radius: 20px;
	margin-inline: auto;
	margin-top: 80px;
  }

  /* immagini e parti del modale */
  #contentModal #circle {
	height: 20px;
	width: 20px;
  }

  #contentModal #x {
	height: 11.5px;
	width: 11.5px;
  }

  #contentModal h3 {
	font-size: 23.5px;
	font-weight: 800;
  }

  #contentModal p {
	height: 48px;
	width: 416px;
	margin-top: 26.5px;
	margin-bottom: 11.5px;
	font-size: 16px;
	line-height: 24px;
	font-weight: 400;
  }

  #contentModal hr {
	margin-top: 22px;
	width: 480px;
	margin-left: -32px;
	border: 1px solid #F0F0F1;
  }

  .HStackStart h4 {
	font-size: 14px;
	font-weight: 700;
	width: 380px;
  }

  /* Close Button */

  .CloseButton {
	height: 36px;
	width: 36px;
	border-radius: 50%;
	background: #F5F5F6;
	display: flex;
	place-content: center;
	place-items: center;
	transition: background 250ms ease-in-out, 
    transform 150ms ease;
	cursor: pointer;
  }

  .CloseButton:hover {
	background: #E2E2E2;
  }