.Card {
  height: 170px;
  width: 452px;
  border-radius: 30px;
  background: white;
  border: solid 2px #F0F0F1;
  box-shadow: rgba(149, 157, 165, 0.05) 0px 4px 12px;
  transition: border 250ms ease-in-out, 
  transform 150ms ease;
  transition: background 250ms ease-in-out, 
  transform 150ms ease;
  cursor: pointer;
}

.Card:hover {
  background: #F0F0F1;
  border-color: #E2E2E4;
}

.HStack {
  display: flex;
  flex-direction: row;
  height: inherit;
  align-content: center;
  justify-content: space-between;
  margin-inline: 40px;
}

.HStack img {
  height: 80px;
  width: 80px;
  margin: auto 0;
}

.Text {
  width: 270px;
  margin: auto 0;
}

.Card h3 {
  font-family: 'Inter', sans-serif;
  font-size: 17px;
  font-weight: 700;
  width: inherit;
  overflow: hidden;
  text-overflow: ellipsis;
}

.Card p {
  max-height: 69px;
  width: inherit;
  margin-top: 10px;
  font-family: 'Inter', sans-serif;
  font-size: 15px;
  font-weight: 400;
  line-height: 22px;
  overflow: hidden;
  text-overflow: ellipsis;
}