* {
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style: none;
}

h2, h3, h4, h5, h6, p, a, li, form, input, label, section, button, select {
    font-family: 'Inter', sans-serif;
}

h1 {
    font-family: 'Sora', sans-serif;
    font-weight: 800;
    letter-spacing: -0.04em;
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}