header nav {
    height: 140px;
    display: grid;
    grid-template-columns: 1fr;
    align-items: center;
}

header ul {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header ul.Container {
    padding: 0 55px;
}

header li.BrewDay {
    font-family: 'Sora', sans-serif;
    font-weight: 700;
    color: #FFCC00;
    font-size: 30px;
    letter-spacing: -0.04em;
    margin-left: 13px;
}

.LogoHeader img {
    height: 32px;
    width: 32px;
    vertical-align: middle;
}

.Button input {
    color: black;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #F0F0F1;
    padding: 15px 20px;
    border-radius: 11px;
    font-size: 16px;
    font-weight: 700;
    cursor: pointer;
    text-align: center;
    transition: background 250ms ease-in-out, 
    transform 150ms ease;
    border: none;
}

.Button input:hover {
    color: white;
    background: black;
}

@media screen and (max-width: 500px) {
    header ul.Container {
        padding: 0 15px;
    }

    header nav {
        height: 70px;
    }
}

@media screen and (max-width: 440px) {
    .Button input {
        padding: 10px 15px;
        border-radius: 8px;
        font-size: 14px;
    }

    header li.BrewDay {
        font-size: 22px;
    }
}