body div.ContainerForm {
    height: 320px;
    width: 420px;
    margin: calc(50vh - 140px - 160px) auto;
}

h1 {
    font-family: 'Sora', sans-serif;
    font-weight: 800;
    letter-spacing: -0.025em;
    font-size: 29px;
}

.ContainerForm form {
    display: grid;
    grid-template-columns: 1fr;
    place-content: center;
    width: inherit;
}

.ContainerForm input:not(.SigninLogin):not(.send) {
    height: 44px;
    appearance: none;
    border: none;
    background: #F0F0F1;
    color: black;
    font-size: 15px;
    font-weight: 400;
    border-radius: 12px;
    padding-inline: 18px;
    margin-top: 5px;
    border: solid 2px white;
    transition: border 250ms ease-in-out, 
    transform 150ms ease;
}

.ContainerForm input:focus:not(.SigninLogin):not(.send), .ContainerForm input:hover:not(.SigninLogin):not(.send) {
    outline: none;
    border: solid 2px black;
}

#password {
    padding-right: 56px;
}

.ContainerForm label {
    color: #67686D;
    font-size: 14px;
    font-weight: 700;
    margin-top: 25px;
}

.ContainerForm h1 {
    margin-bottom: 5px;
}

.ContainerForm form {
    width: 100%;
}

div.Button {
    width: inherit;
}

input.SigninLogin {
    width: inherit;
    background: #FFCC00;
    font-size: 17px;
    font-weight: 800;
    color: white;
    margin-top: 30px;
}

#eyeIcon {
    position: absolute;
    width: 23.91px;
    height: 15.07px;
    cursor: pointer;
    margin-top: 159px;
    margin-left: 376px;
}

#nicknameError, #passwordError {
    position: absolute;
    font-size: 12px;
    font-weight: 400;
    color: #FF3B30;
    font-family: 'Inter', sans-serif;
}

#nicknameError {
    margin-top: 97px;
}

#passwordError {
    margin-top: 192px;
}

#accessError {
    position: absolute;
    color: #FF3B30;
    text-align: center;
    font-size: 13px;
    font-weight: 400;
    font-family: 'Inter', sans-serif;
    width: 420px;
    margin-top: 320px;
}

@media screen and (max-height: 628px) and (min-width: 501px) {
    body div.ContainerForm {
        margin: 0 auto;
    }
}

@media screen and (max-height: 628px) and (max-width: 500px) {
    body div.ContainerForm {
        margin: 38px auto;
    } 
}

@media screen and (min-height: 628px) and (max-width: 500px) {
    body div.ContainerForm {
        margin: calc(50vh - 70px - 160px) auto;
    }
}

@media screen and (max-width: 500px) {
    #eyeIcon {
        right: 33px;
    }
    
    body div.ContainerForm {
        width: calc(100% - 30px);
    }
}

@media screen and (max-width: 356px) {
    .ContainerForm input {
        width: calc(100% - 10px);
    }
}

@media screen and (max-width: 450px) {
    .ContainerForm input:not(.SigninLogin) {
        height: 34px;
        border-radius: 8px;
    }

    #eyeIcon {
        margin-top: 124px;
    }

    .ContainerForm input {
        font-size: 16px;
    }

    .ContainerForm label {
        font-size: 12;
        margin-top: 15px;
        font-weight: 600;
    }

    body div.ContainerForm {
        height: 260px;
    }
    
    #nicknameError {
    	font-size: 11px;
    	margin-top: 75px;
    }

	#passwordError {
		font-size: 11px;
	    margin-top: 150px;
	}
}